services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: birdex
      POSTGRES_USER: admin
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5455:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/main/resources/scripts/bird_insert.sql:/docker-entrypoint-initdb.d/bird_insert.sql:ro
  minio:
    image: minio/minio
    ports:
      - "9100:9000"
      - "9101:9001"
    volumes:
      - ./minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3
  minio-setup:
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: [ "/bin/sh", "-c" ]
    command: >
      '
      mc alias set local http://minio:9000 minioadmin minioadmin &&
      mc mb --ignore-existing local/birdex-bucket &&
      mc mb --ignore-existing local/users &&
      mc anonymous set download local/birdex-bucket &&
      mc anonymous set download local/users &&
      echo "[{\"AllowedOrigin\":[\"*\"],\"AllowedMethod\":[\"GET\",\"HEAD\"],\"AllowedHeader\":[\"*\"],\"ExposeHeader\":[\"ETag\",\"Content-Length\",\"Content-Type\"],\"MaxAgeSeconds\":3000}]" > /cors.json &&
      mc cors set local/birdex-bucket /cors.json &&
      mc cors set local/users /cors.json &&
      mc cors info local/birdex-bucket &&
      mc cors info local/users &&
      echo "MinIO setup OK"
      '
    networks:
      - default

volumes:
  postgres_data: