services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: birdex
      POSTGRES_USER: admin
      TZ: America/Argentina/Buenos_Aires
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5455:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/main/resources/scripts/bird_insert.sql:/docker-entrypoint-initdb.d/bird_insert.sql:ro
  minio:
    image: minio/minio
    ports:
      - "9100:9000"
      - "9101:9001"
    volumes:
      - ./minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "5566:4566"
      - "5571:4571"
    environment:
      - SERVICES=s3
      - AWS_DEFAULT_REGION=us-west-2
      - DEBUG=1
    volumes:
      - ./init-localstack.sh:/etc/localstack/init/ready.d/init-localstack.sh
      - "/var/run/docker.sock:/var/run/docker.sock"

volumes:
  postgres_data:
